{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "angular": false,
    "var2": false,
    "SERVICE_BASE_URI": false,
    "ENVIRONMENT": false,
    "IO_LOCATION_PATH": false,
    "GA_TRACKING_ID": false,
    "SENTRY_URL": false,
    "$": false,
    "jQuery": false,
    "window.jQuery": false,
    "_": false,
    "moment": false,
    "Highcharts": false,
    "io": false,
    "AFRIGIS_LIB_URL": false,
    "AGMap": false,
    "AGCoord": false,
    "AGMarkerOptions": false,
    "AGMarker": false,
    "AGIcon": false,
    "AGSize": false,
    "AGPoint": false,
    "AGInfoDisplayOptions": false,
    "AGEvent": false
  }
}